@import './../../style/default';

.modalInput {
    margin-top: 5px;
    .suggestion {
        color: #D3D3D3;
    }
}

.modalBtn {
    margin: 6px;
    margin-top: 0;
}

.addUrlBtn{
	float: right;
}

.deleteHerf {
	color: @colorV;
}

.publishView {
	margin: 0px 10px; // 上下 左右
}

.tablePage {
	margin-top: 10px;
}


// antd 中组件自带的样式
.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}