@import './../../style/default';

.aColor {
    color: @colorA;
}

.tablePage {
	float: right;
	margin-top: 20px;
}

.deleteHerf {
	color: @colorV;
}

.modalInput {
	margin-top: 5px;
}


.addTagBtn {
	margin-left: 70px;
}

.addTagInput {
	height: 30px;
	width: 150px;
}

.modalBtn {
    margin: 6px;
    margin-top: 0;
}

.publishView {
	background-color: @colorL;
	margin: 0px 10px;
	margin-bottom: 200px;
}